@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav.nav-links {
        margin-top: 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    #temple-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    figcaption h3 {
        font-size: 1.4rem;
    }

    figcaption p {
        font-size: 1rem;
    }
}