
:root{
    accent-color:#f7f7f7;
    color: #2058a0;
    background-color: #555;;
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    background: #f7f7f7;
}

form {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label,
legend {
    font-weight: bold;
    margin-bottom: .3rem;
}

input,
select,
textarea {
    padding: .5rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}

input[type="submit"] {
    background: #2058a0;
    color: white;
    padding: .8rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #174579;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #555;
}