
:root{
    --accent-color:#f7f7f7;
    --color: rgb(255, 137, 210);
    --primary:#e235ab;

}

header h1 {
    background-color: var(--primary);
    margin-top: 2rem;
    color: var(--accent-color);
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    padding: 2rem;
}

header .highlight {
    color: var(--accent);
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 0rem;
    background: #fcfcfc;
}

form {
    background: rgb(255, 137, 210);
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label,
legend {
    font-weight: bold;
    margin-bottom: .3rem;
}

input,
select,
textarea {
    padding: .5rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}

input[type="submit"] {
    background: var(--primary);
    color: white;
    padding: .8rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: var(--primary);
}

fieldset {
    border: 1px solid #f8f8f8;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    background-color: var(--primary);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    color: #fffdfd;
}
