/* temples-large.css */

/* applying Flexbox to nav horizontally */
/* temples-large.css */
@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }

    main {
        max-width: 1000px;
    }

    main figure {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
